body {
  font-family: "Poppins", sans-serif;
  margin: 0px 0px 0 0px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height:100vh;

}

.log{
  color:orange;
  font-size: 40px;
}
.main {
  flex: 1;
  margin : 5px 50px 50px 50px;
}

h1 {
  font-size: 4rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.secA{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:180px;
}

.left img{
  width: 250px;
  height:200px;
}

.right img{
  width:250px;
  height:200px;
}

.card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:20px;
}

.left, .right{
  width:40%;
}

.altxt{
  width:270px;
}

footer{
  background-color: black;
}

footer p{
  color:white;
  text-align: start;
  margin-left: 45px;;
}

@media (min-width:768px) and (max-width:1020px){
  body {
    font-family: "Poppins", sans-serif;
    margin: 0px 0px 0px 0px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height:100vh;
  }
  .main {
    flex: 1;
    margin:10px 10px 30px 30px;
  }

  h1 {
    font-size: 2.5rem;
  }

  footer {
   
    color: midnightblue;
  }

  .secA{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    gap:50px;
  }

  .left img{
    width:100%; 
    height:200px;
  }

  .right img{
    width:100%;
  }

  .card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
  }

  .left, .right{
    width:45%;
  }

  .altxt{
    width:100%;
  }

  footer{
    background-color: black;
  }

  footer p{
    color:white; 
  }
}


@media (min-width:319px) and (max-width:667px)
{
  body {
    font-family: "Poppins", sans-serif;
    margin: 0px 0px 0 0px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height:100vh;
  }
  .log{
    color:orange;
    font-size: 30px;
}
  .main {
    flex: 1;
    margin:30px 30px;
  }

  h1 {
    font-size: 2rem;
  }

  footer {
    text-align: right;
    color: midnightblue;
  }

  .secA{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items: center;
    gap:50px;
  }

  .left img{
    width: 100%; 
  }

  .right img{
    width:100%;
  }

  .card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
  }

  .left, .right{
    width:100%;
  }

  .altxt{
    width:100%;
  }

  footer{
    background-color: black;
  }

  footer p{
    color:white;
   
  }

}

@media (min-width:668px) and (max-width:767px)
{
  body {
    font-family: "Poppins", sans-serif;
    margin: 0px 0px 0 0px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height:100vh;
  }
  .main {
    flex: 1;
    margin:30px 30px;
  }

  h1 {
    font-size: 2.5rem;
  }

  footer {
    text-align: right;
    color: midnightblue;
  }

  .secA{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    gap:50px;
  }

  .left img{
    width: 100%; 
    object-fit: cover;
  }

  .right img{
    width:100%;
    object-fit: cover;
  }

  .card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
  }

  .left, .right{
    width:50%;
  }

  .altxt{
    width:100%;
  }

  footer{
    background-color: black;
  }

  footer p{
    color:white;
   
  }

}

@media (min-width:768px) and (max-width:1024px)
{
  body {
    font-family: "Poppins", sans-serif;
    margin: 0px 0px 0 0px;
    background-color: #faf9f6;
    display: flex;
    flex-direction: column;
    min-height:100vh;
  }
  .main {
    flex: 1;
    margin:30px 30px;
  }

  h1 {
    font-size: 2.5rem;
  }

  footer {
    text-align: right;
    color: midnightblue;
  }

  .secA{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    gap:40px;
  }

  .left img{
    width: 100%; 
    object-fit: cover;
  }

  .right img{
    width:100%;
    object-fit: cover;
  }

  .card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
  }

  .left, .right{
    width:46%;
  }

  .altxt{
    width:100%;
  }

  footer{
    background-color: black;
  }

  footer p{
    color:white;
   
  }

}




